.separadorCabeceraPagina
{
    background-image: url('../../../assets/images/fondoPie.png');
    height: 220px;
    width: 100%;
    z-index:10;
}
.imagenCabeceraPagina{
    width: 900px;
    height: 110px;
    margin-top: -10px;
    margin-bottom: 70px;
    margin-left:10%;
    padding-top:10px;
    background-image: url('../../../assets/images/logoESF.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
}
.imagenCabeceraSubtitulo{
    position:absolute;
    width: 900px;
    height: 50px;
    margin-top: -60px;
    margin-bottom: 10px;
    margin-left:350px;
    padding-top:10px;
    max-width: 450px;
    background-image: url('../../../assets/images/sublogoESF.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
}
.botonera{
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    padding-top: 3px;
    height: 40px;
    background-color: #a86c6c;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    list-style: none;
    position: relative;
}
.enlaces{
    text-decoration: none;
    font-family: effects;
    font-size: 18px;
    list-style: none;
    text-align: left;
    color: black;
}
.subMenu{
    display: none;
    position: absolute;
    background-color: #a86c6c;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    z-index: 10;
}
.botonera:hover .subMenu{
    display: block;
    position: absolute;
    background-color: rgba(168, 108, 108, 0.5);
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    z-index: 10;
}
.botonera:nth-child(1){
    margin-left: 0px;
}
.enlaces:hover{
    color: rgb(236, 204, 204);
}