.separadorCabeceraPagina
{
    height: 10px;
    width: 100%;
}
.imagenCabeceraPagina{
    border-radius: 10px;
    width: 100px;
    height: 110px;
    margin-top: -80px;
    margin-bottom: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin-left:45%;
    background-image: url('../../../assets/images/ESFblue.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
}
.botonera{
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
    padding-top: 3px;
    height: 40px;
    background-color: #a86c6c;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    list-style: none;
}
.enlaces{
    text-decoration: none;
    font-family: effects;
    font-size: 18px;
    list-style: none;
    text-align: left;
    color: black;
}
.subMenu{
    display: none;
    position: absolute;
    background-color: #a86c6c;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}
.botonera:hover .subMenu{
    display: block;
    position: absolute;
    background-color: rgba(168, 108, 108, 0.5);
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}
.botonera:nth-child(1){
    margin-left: 0px;
}
.enlaces:hover{
    color: rgb(236, 204, 204);
}