/*
Móvil: Hasta 575.98
Tableta: A partir de 576px
Portátil: A partir de 768px
Escritorio: A partir de 992px
Escritorio grande: A partir de 1200px
*/

@media screen and (min-width: 100px) and (max-width:576px)
{
    *{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
    margin: 0;
    padding: 0;
    }
    .fondoCabecera{
        width: 100%;
        height: 110px;
        margin-top: -10px;
        margin-bottom: 0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:10px;
        background-image: url('../../assets/images/fondoPie.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        justify-content: center;
    }
    .separadorMenu{
        position:absolute;
        background-image: url('../../assets/images/logoESF.png');
        background-size: contain;  /*Imagen se muestre completa aunque se reduzca su tamaño*/
        background-repeat: no-repeat;
        box-shadow:2px 2px 15px 3px rgb(199, 208, 211);
        border-radius: 20px;
        width: 100%;
        max-width: 300px;
        height: 70px;
        margin-top: -90px;
        margin-left:10px;
    }
}
@media screen and (min-width: 576px) and (max-width:768px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
}
@media screen and (min-width: 768px) and (max-width:992px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
}
@media screen and (min-width: 992px) and (max-width:1200px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
}
@media screen and (min-width: 1200px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
}