/*
Móvil: Hasta 575.98
Tableta: A partir de 576px
Portátil: A partir de 768px
Escritorio: A partir de 992px
Escritorio grande: A partir de 1200px
*/
    *{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
    margin: 0;
    padding: 0;
    }
    .fondoCabecera{
        width: 100%;
        height: 110px;
        margin-top: -10px;
        margin-bottom: 0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:10px;
        background-image: url('../../assets/images/fondoCabecera.png');
        filter: brightness(1.5);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover; 
        justify-content: center;
    }
    .separadorMenu{
        position:absolute;
        background-image: url('../../assets/images/logoESF.png');
        background-size: contain;  /*Imagen se muestre completa aunque se reduzca su tamaño*/
        background-repeat: no-repeat;
        box-shadow:2px 2px 15px 3px rgb(60, 155, 187);
        border-radius: 20px;
        width: 100%;
        height: 80px;
        max-width: 300px;
        margin-top: -90px;
    }
   .accionamientos{
        margin-top: 0px;
        width: 100%;
        height: 40px;
        padding-top: 0px;
        background-color: rgb(1, 12, 37);
    }
    #accionado{
        float:right;
        margin-right: 20px;
        margin-top:4px;
        width: 60px;
        height: 30px;
        color:rgb(255, 254, 254);
    }
    #accionado:hover{
        box-shadow: 1px 1px 1px 1px rgb(255,255,255);
        color:yellow;
        transition: 0.70s;
    }
    #cerrarMenu{
        position:absolute;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:20px;
        width:25px;
        height:35px;
        color:rgb(230, 214, 0);
        background-color:transparent;
    }
    #cerrarMenu:hover{
        background-color:rgb(255, 255, 255);
        width:25px;
        height:25px;
        color:#010033;
        text-shadow:#010033;
        transition:0.4s;
    }
    /* AREA DE GESTION DE ESTILOS DE LAS BOTONERAS */
        .tablaOpciones{
            margin-top: 10px;   /*TABLA BASE DEL MENU DE OPCIONES*/
            width:100%;
            display: table;  /* Asegurar que siempre se muestre como tabla */
            table-layout: auto;  /* Permitir que las celdas se ajusten */
        }
        /* Contenedor de la fila para hacerla flexible con zoom */
        .tablaOpciones tbody tr {
            display: flex;
            flex-wrap: wrap;  /* Permitir que los elementos se envuelvan con zoom */
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .tablaOpciones tbody tr td {
            flex: 0 1 auto;  /* No crecer, permitir encogerse */
            min-width: fit-content;
        }
        .botonera{
            text-align: center;
            margin-bottom: 10px;
            font-size: 22px;
            color:rgb(255, 255, 255);
            padding-top: 3px;
            height: 40px;
            background-color: transparent;
            width: 100%;
            margin-left: 30px;
            margin-right: 30px;
            text-decoration: none;
            list-style: none;
            position: relative;
            white-space: nowrap;  /* Evitar que el texto se rompa */
        }
        .enlaces{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            color:rgb(230, 214, 0);
            list-style: none;
            text-align: left;
            text-decoration: none;
        }
        .enlaces.active{
            text-decoration: underline;
        }
        .enlaces:hover{
            text-shadow: 2px 2px 8px rgb(243, 239, 1);
            transition: 0.25s;
        }
        .subMenu{
            display: none;
            position: absolute;
            background-color: #060396;
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            list-style: none;
            z-index: 10;
        }
        .botonera:hover .subMenu{
            display: block;
            position: absolute;
            width:100%;
            background-color: rgb(2, 56, 59);
            margin-top: 0px;
            padding: 0px;
            border-radius: 5px;
            list-style: none;
            z-index: 10;
        }
        .botonera:hover, .subBotonera:hover{
            background-color: #596301;
        }
        .botonera:nth-child(1){
            margin-left: 0px;
        }
        .enlaces:hover{
            color: rgb(236, 204, 204);
        }
    /***********************************************/

@media screen and (min-width: 0px) and (max-width:380px)
{
    /* Estilos para que el menú sea visible cuando el viewport es extremadamente pequeño (zoom extremo) */
    .tablaOpciones {
        margin-top: 5px;
    }
    .tablaOpciones tbody tr {
        flex-wrap: wrap;
        gap: 1px;
    }
    .enlaces{
        font-size: 8px;
    }
    .botonera {
        margin-left: 2px;
        margin-right: 2px;
        height: 25px;
        padding-top: 0px;
    }
    @media screen and (min-width: 0px) and (max-width: 200px) {
        .separadorMenu{
            margin-left: 14%;
            width:360px;
        }
        .fondoCabecera{
            width: 360px;
        }
        .accionamientos{
            width: 360px;
        }
    }
    @media screen and (min-width: 200px) and (max-width: 300px) {
        .separadorMenu{
            margin-left: 13%;
            width:360px;
        }
        .fondoCabecera{
            width: 360px;
        }
        .accionamientos{
            width: 360px;
        }
    }
    @media screen and (min-width: 300px) and (max-width: 360px) {
        .separadorMenu{
            margin-left: 10%;
            width:360px;
        }
        .fondoCabecera{
            width: 360px;
        }
        .accionamientos{
            width: 360px;
        }
    }
    @media screen and (min-width: 360px) and (max-width: 380px) {
        .separadorMenu{
            margin-left: 10%;
            width:100%;
        }
        .fondoCabecera{
            width: 100%;
        }
        .accionamientos{
            width: 100%;
        }
    }
}
@media screen and (min-width: 381px) and (max-width:576px)
{
    /* Estilos para que el menú sea visible cuando el viewport es muy pequeño (zoom muy alto) */
    .tablaOpciones {
        margin-top: 5px;
    }
    .tablaOpciones tbody tr {
        flex-wrap: wrap;
        gap: 2px;
    }
    .enlaces{
        font-size: 9px;
    }
    .botonera {
        margin-left: 3px;
        margin-right: 3px;
        height: 28px;
        padding-top: 1px;
    }
    @media screen and (min-width: 381px) and (max-width: 440px) {
        .separadorMenu {
            margin-left: 12%;
        }
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    }
    @media screen and (min-width: 441px) and (max-width: 480px) {
        .separadorMenu {
            margin-left: 20%;
        }
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    }
    @media screen and (min-width: 481px) and (max-width: 520px) {
        .separadorMenu {
            margin-left: 20%;
        }
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    }
    @media screen and (min-width: 521px) and (max-width: 576px) {
        .separadorMenu {
            margin-left: 20%;
        }
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    }
}
@media screen and (min-width: 577px) and (max-width:768px)
{
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    /* Estilos para que el menú sea visible cuando el viewport es muy pequeño (zoom alto) */
    .tablaOpciones {
        margin-top: 5px;
    }
    .enlaces{
        font-size: 10px;
    }
    .botonera {
        margin-left: 5px;
        margin-right: 5px;
        height: 30px;
        padding-top: 2px;
    }
    @media screen and (min-width: 577px) and (max-width: 650px) {
        .separadorMenu {
            margin-left: 25%;
        }
    }
    @media screen and (min-width: 651px) and (max-width: 700px) {
        .separadorMenu {
            margin-left: 28%;
        }
    }
    @media screen and (min-width: 701px) and (max-width: 768px) {
        .separadorMenu {
            margin-left: 30%;
        }
    }
}
@media screen and (min-width: 769px) and (max-width:992px)
{
    .separadorMenu{
        background-size: 60%;  /*Imagen se muestre completa aunque se reduzca su tamaño*/
        background-repeat: no-repeat;
        background-position: 120px;
        max-width: 600px;
    }
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    /* Estilos para que el menú sea visible cuando el viewport es pequeño (por zoom) */
    .tablaOpciones {
        margin-top: 5px;
    }
    .enlaces{
        font-size: 15px;
    }
    .botonera {
        margin-left: 10px;
        margin-right: 10px;
        height: 35px;
    }
    @media screen and (min-width: 768px) and (max-width: 790px) {
        .separadorMenu {
            margin-left: 12%;
        }
    }
    @media screen and (min-width: 791px) and (max-width: 850px) {
        .separadorMenu {
            margin-left: 14%;
        }
    }
    @media screen and (min-width: 851px) and (max-width: 992px) {
        .separadorMenu {
            margin-left: 18%;
        }
    }
}
@media screen and (min-width: 993px) and (max-width:1200px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .separadorMenu{
        background-size: 60%;  /*Imagen se muestre completa aunque se reduzca su tamaño*/
        background-position: 120px;
        max-width: 600px;
    }
    /* Estilos para que el menú sea visible cuando el viewport es mediano (zoom moderado) */
    .tablaOpciones {
        margin-top: 5px;
    }
    .enlaces{
        font-size: 15px;
    }
    .botonera {
        margin-left: 15px;
        margin-right: 15px;
        height: 38px;
    }
    @media screen and (min-width: 992px) and (max-width: 1050px) {
        .separadorMenu {
            margin-left: 20%;
        }
    }
    @media screen and (min-width: 1051px) and (max-width: 1100px) {
        .separadorMenu {
            margin-left: 23%;
        }
    }
    @media screen and (min-width: 1101px) and (max-width: 1200px) {
        .separadorMenu {
            margin-left: 25%;
        }
        .enlaces{
            font-size: 15px;
        }
    }
}
@media screen and (min-width: 1201px)
{
    .fondoCabecera{
        height: 150px;
        margin-bottom:-20px;
    }
    .separadorMenu{
        background-size: 60%;  /*Imagen se muestre completa aunque se reduzca su tamaño*/
        background-position: 120px;
        max-width: 600px;
    }
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .enlaces{
    font-size: 18px;
    }
    .accionamientos
    {
        padding-top:15px;
        height: 70px;
    }
    .tablaOpciones{
        margin-top: -22px;   /*TABLA BASE DEL MENU DE OPCIONES*/
        width:100%;
        height:50px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    @media screen and (min-width: 1201px) and (max-width: 1300px) {
        .separadorMenu {
            margin-left: 27%;
        }
    }
    @media screen and (min-width: 1301px) and (max-width: 1800px) {
        .separadorMenu {
            margin-left: 33%;
        }
    }
    @media screen and (min-width: 1801px) and (max-width: 2000px) {
        .separadorMenu {
            margin-left: 35%;
        }
    }
    @media screen and (min-width: 2001px) and (max-width: 2500px) {
    .separadorMenu {
        margin-left: 35%;
        }
    }
    @media screen and (min-width: 2501px) {
    .separadorMenu {
        margin-left: 43%;
        }
    }
}
