/*
Móvil: Hasta 575.98
Tableta: A partir de 576px
Portátil: A partir de 768px
Escritorio: A partir de 992px
Escritorio grande: A partir de 1200px
*/
    *{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
    margin: 0;
    padding: 0;
    }
   .accionamientos{
        position: absolute;
        margin-top: 0px;
        width: 100%;
        height: 40px;
        background-color: rgb(1, 12, 37);
    }
    .menuOpciones{
        position: relative;
        margin-left:100%;
        margin-top: -100px;
        width: 100%;
        height: 100%;
        background-color: rgb(8, 8, 83);
    }
    .fondoMenu{
        height: 150px;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left:0px;
        margin-right:0px;
        background-image: url('../../../assets/images/menuESF.jpg');
        filter: brightness(1.5);
        background-position:cover;
        background-repeat: no-repeat;
        background-size: cover; 
        justify-content: cover;
    }
    #cerrarMenu{
        position:absolute;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:20px;
        width:25px;
        height:35px;
        color:rgb(230, 214, 0);
        background-color:transparent;
    }
    #cerrarMenu:hover{
        background-color:rgb(255, 255, 255);
        width:25px;
        height:25px;
        color:#010033;
        text-shadow:#010033;
        transition:0.4s;
    }
    /* AREA DE GESTION DE ESTILOS DE LAS BOTONERAS */
        .tablaOpciones{
            margin-top: 10px;   /*TABLA BASE DEL MENU DE OPCIONES*/
            width:100%;
        }
        .botonera{
            text-align: center;
            margin-bottom: 10px;
            font-size: 22px;
            color:rgb(255, 255, 255);
            padding-top: 3px;
            height: 40px;
            background-color: transparent;
            width: 100%;
            margin-left: 30px;
            margin-right: 30px;
            text-decoration: none;
            list-style: none;
            position: relative;
        }
        .enlaces{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            color:rgb(230, 214, 0);
            list-style: none;
            text-align: left;
            text-decoration: none;
        }
        .enlaces.active{
            text-decoration: underline;
        }
        .enlaces:hover{
            text-shadow: 2px 2px 8px rgb(243, 239, 1);
            transition: 0.25s;
        }
        .subMenu{
            display: none;
            position: absolute;
            background-color: #060396;
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            list-style: none;
            z-index: 10;
        }
        .botonera:hover .subMenu{
            display: block;
            position: absolute;
            width:100%;
            background-color: rgb(2, 56, 59);
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            list-style: none;
            z-index: 10;
        }
        .botonera:hover, .subBotonera:hover{
            background-color: #596301;
        }
        .botonera:nth-child(1){
            margin-left: 0px;
        }
        .enlaces:hover{
            color: rgb(236, 204, 204);
        }
    /***********************************************/

@media screen and (min-width: 381px) and (max-width:576px)
{
    @media screen and (min-width: 381px) and (max-width: 440px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
            margin-top: -100px;
            height:1000px;
        }
        .fondoMenu{
            height: 100px;
            background-size: 110% 180px;
        }
    }
    @media screen and (min-width: 441px) and (max-width: 480px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
            margin-top: -100px;
            height:1000px;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 180px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 520px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
            margin-top: -100px;
            height:1000px;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 180px;
        }
    }
    @media screen and (min-width: 521px) and (max-width: 576px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
            margin-top: -100px;
            height:1000px;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 190px;
        }
    }
}
@media screen and (min-width: 577px) and (max-width:768px)
{
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
            margin-top: -100px;
            height:1000px;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 190px;
        }
}
@media screen and (min-width: 768px) and (max-width:992px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .menuOpciones{
        width:25%;
    }
    .fondoMenu{
        height: 100px;
        background-size: 100% 190px;
    }
    .enlaces{
        font-size: 13px;
    }
}
@media screen and (min-width: 992px) and (max-width:1200px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .menuOpciones{
        width:25%;
    }
    .fondoMenu{
        height: 100px;
        background-size: 100% 190px;
    }
    .enlaces{
    font-size: 12px;
    }
    @media screen and (min-width: 1051px) and (max-width: 1100px) {
        .botonera{
            position: absolute;
        }
    }
    @media screen and (min-width: 1101px) and (max-width: 1200px) {
        .enlaces{
            font-size: 15px;
        }
    }
}