/*
Móvil: Hasta 575.98
Tableta: A partir de 576px
Portátil: A partir de 768px
Escritorio: A partir de 992px
Escritorio grande: A partir de 1200px
*/
    *{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
    margin: 0;
    padding: 0;
    }
   .accionamientos{
        position: absolute;
        margin-top: 0px;
        width: 100%;
        height: 40px;
        background-color: rgb(1, 12, 37);
    }

    /* Overlay de pantalla completa (oscurece todo, incluso con scroll) */
    .tableroMenuOpciones{
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.0);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 220ms ease, visibility 0ms linear 220ms, background-color 220ms ease;
        z-index: 199;
    }
    .tableroMenuOpciones.is-open{
        background-color: rgba(0, 0, 0, 0.78);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: opacity 220ms ease, visibility 0ms linear 0ms, background-color 220ms ease;
    }

    /* Panel del menú: centrado y animado */
    .menuOpciones{
        /* Variables controladas desde TS para que quepa TODO sin scroll */
        --menu-item-h: 40px;
        --menu-font-size: 16px;
        --menu-sub-font-size: 14px;

        position: fixed;
        left: 50%;
        top: 50%;
        width: min(420px, 92vw);
        height: auto; /* sin scroll interno */
        background-color: rgb(8, 8, 83);
        border-radius: 14px;
        box-shadow: 0 0 20px rgba(255,255,255,0.45);
        transform: translate(-50%, -50%) translateY(24px) scale(0.98);
        opacity: 0;
        visibility: hidden;
        transition: transform 260ms ease, opacity 260ms ease, visibility 0ms linear 260ms;
        z-index: 200;
    }
    .tableroMenuOpciones.is-open .menuOpciones{
        transform: translate(-50%, -50%) translateY(0) scale(0.9);
        opacity: 1;
        visibility: visible;
        transition: transform 260ms ease, opacity 260ms ease, visibility 0ms linear 0ms;
    }
    .fondoMenu{
        height: 150px;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left:0px;
        margin-right:0px;
        background-image: url('../../../assets/images/menuESF.jpg');
        filter: brightness(1.5);
        background-position:cover;
        background-repeat: no-repeat;
        background-size: cover; 
        justify-content: cover;
    }
    #cerrarMenu{
        position:absolute;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:20px;
        width:25px;
        height:35px;
        color:rgb(230, 214, 0);
        background-color:transparent;
    }
    #cerrarMenu:hover{
        background-color:rgb(255, 255, 255);
        width:25px;
        height:25px;
        color:#010033;
        text-shadow:#010033;
        transition:0.4s;
    }
    /* AREA DE GESTION DE ESTILOS DE LAS BOTONERAS */
        .tablaOpciones{
            margin-top: 10px;   /*TABLA BASE DEL MENU DE OPCIONES*/
            width:100%;
        }
        .botonera{
            text-align: center;
            margin: 6px 12px;
            color:rgb(255, 255, 255);
            padding: 0;
            background-color: transparent;
            width: 100%;
            text-decoration: none;
            list-style: none;
            position: relative;
        }
        .enlaces{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: block;
            font-size: var(--menu-font-size); /* se ajusta en TS para que quepa todo */
            line-height: var(--menu-item-h);
            color:rgb(230, 214, 0);
            list-style: none;
            text-align: center;
            text-decoration: none;
        }
        .enlaces.active{
            text-decoration: underline;
        }
        .enlaces:hover{
            text-shadow: 2px 2px 8px rgb(243, 239, 1);
            transition: 0.25s;
        }
        /* En hamburguesa: submenú "empuja" hacia abajo (no absoluto) */
        .subMenu{
            display: block;
            position: static;
            background-color: rgb(2, 56, 59);
            margin: 0 0 0 14px;
            padding: 0 10px;
            border-radius: 8px;
            list-style: none;
            overflow: hidden;
            max-height: 0;
            transition: max-height 1200ms ease;
        }
        .subBotonera .enlaces{
            font-size: var(--menu-sub-font-size);
            line-height: var(--menu-item-h);
        }
        .botonera:hover .subMenu{
            max-height: 500px; /* suficiente para mostrar items; el TS ajusta tamaños para que quepa */
        }
        .botonera:hover, .subBotonera:hover{
            background-color: #596301;
        }
        .botonera:nth-child(1){
            margin-left: 0px;
        }
        .enlaces:hover{
            color: rgb(236, 204, 204);
        }
    /***********************************************/

@media screen and (min-width: 0px) and (max-width: 380px)
{
   /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES, para SmartWatches*/
    .separadorMenu{
        margin-left: 20%;
        width:360px;
    }
    .fondoCabecera{
        width: 360px;
    }
    .accionamientos{
        width: 360px;
    }
    .tableroMenuOpciones{
        width:360px;
    }
}
@media screen and (min-width: 381px) and (max-width:576px)
{
    @media screen and (min-width: 381px) and (max-width: 440px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
        }
        .fondoMenu{
            height: 100px;
            background-size: 110% 180px;
        }
    }
    @media screen and (min-width: 441px) and (max-width: 480px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 180px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 520px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 180px;
        }
    }
    @media screen and (min-width: 521px) and (max-width: 576px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 190px;
        }
    }
}
@media screen and (min-width: 577px) and (max-width:768px)
{
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .menuOpciones{
            width:50%;
            font-size: x-large;
        }
        .fondoMenu{
            height: 100px;
            background-size: 100% 190px;
        }
}
@media screen and (min-width: 768px) and (max-width:992px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .menuOpciones{
        width:25%;
        font-size: xx-large;
    }
    .fondoMenu{
        height: 100px;
        background-size: 100% 190px;
    }
    .enlaces{
        font-size: 13px;
    }
}
@media screen and (min-width: 992px) and (max-width:1200px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .menuOpciones{
        width:25%;
    }
    .fondoMenu{
        height: 100px;
        background-size: 100% 190px;
    }
    .enlaces{
    font-size: 12px;
    }
}
