.base{
    float:left;
    height: 3000px;
    width: 100%
}
.cuadroBaseTabla{
    width: 100%;
    border-collapse: collapse;
    height: auto;
}
.cabeceraPagina{
    width: 100%;
    height: 300px;
    background-color: rgb(104, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    z-index:10;
}
.cuerpoPagina{
    height: 2300px;
    width: 100%;
    background-image: url('../../assets/images/ESFbrown.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
    filter: brightness(0.4); /* oscurecer un poco para texto encima */
    z-index:0;
}
.piePagina{
    width: 100%;
    height: 400px;
    background-color: rgb(104, 19, 19);
    z-index:10;
}
.volverArriba{
    background-color: rgb(65, 16, 16);
    width: 100%;
    height: 40px;
    color: rgb(211, 203, 203);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 8px;
}
.volverArriba:hover{
    background-color: rgb(109, 45, 45);
    color: rgb(253, 251, 251);
    transition: 1.5s;
}
