.tablaPie{
    width:100%;
    border:5px;
    height: 20px;
}
.textoPieUno{
    position:absolute;
    display: block;
    width: 80%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.568);
    color: rgb(211, 203, 203);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    text-align: center;
    margin-left:10%;
    margin-top:20px;
    padding-top: 8px;
    padding-top: 25px;
    text-shadow: 1px 1px 2px rgb(241, 237, 0);
    box-shadow: 2px 2px 2px 1px rgba(255, 254, 254, 0.596);
}
.textoPieDos{
    position:absolute;
    display: block;
    width: 80%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.568);
    color: rgb(211, 203, 203);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    text-align: center;
    margin-left:10%;
    margin-top:20px;
    padding-top: 8px;
    padding-top: 25px;
    text-shadow: 1px 1px 2px rgb(241, 237, 0);
    box-shadow: 2px 2px 2px 1px rgba(255, 254, 254, 0.596);
  
}

/* USO DEL @keyframes para generar un parpadeo en un texto 
   APARECE ESTE PRIMERO Y LUEGO EL OTRO
*/
@keyframes parpadeoUno {     /*para el pieUno*/
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeoDos {     /*para el pieUno*/
  0% { opacity: 0.0; }
  50% { opacity: 1.0; }
  100% { opacity: 0.0; }
}

.textoPieUno {
  /* Esto hará que el texto o elemento parpadee: el elemento señalado */
  animation: parpadeoUno 30.0s linear infinite;
  /* También puedes usar webkit para compatibilidad con navegadores */
  -webkit-animation: parpadeoUno 30.0s linear infinite;
}

.textoPieDos {
  /* Esto hará que el texto o elemento parpadee: el elemento señalado */
  animation: parpadeoDos 30.0s linear infinite;
  /* También puedes usar webkit para compatibilidad con navegadores */
  -webkit-animation: parpadeoDos 30.0s linear infinite;
}

/* Ejemplo con @keyframes para texto */
.texto-con-brillo {
  color: #fff;
  text-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9;
}

.texto-con-brillo-parpadeante {
  color: #fff;
  /* Para un efecto de parpadeo de texto */
  animation: texto-parpadeo 30.0s infinite linear alternate;
}

@keyframes texto-parpadeo {
  0% { text-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9; }
  100% { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff; }
}

.fondoPie{
    background-image: url('../../../assets/images/fondoPie.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content:center;
    height:360px;
    margin-top:0px;
}
.datoPie{
    margin-top:40px;
    margin-left:200px;
    color:rgba(253, 253, 253, 0.692);
    text-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9;
}

/* AREA DE DECORACION DE LOS ICONOS DE LAS REDES SOCIALES */
    #apple,#twitter,#github,#facebook,#youtube,#linkedin,#whatsapp,#instagram,#mapsg
        {
            position:relative;
            width:10px;
            height: 10px;
            font-size: 2.5em;
            color: #919191;
            border-radius: 100px;
            padding: 10px 15px;
            margin-top: 10px;
            margin-left: 80px;
            animation: animate 3s linear infinite;
            text-shadow: 0 0 0.5px #494b0b, 
                        0 0 3px #494b0b,
                        0 0 5.5px #494b0b, 
                        0 0 8px #494b0b, 
                        0 0 0.5px #494b0b, 
                        0 0 3px #494b0b,
                        0 0 5.5px #494b0b, 
                        0 0 8px #494b0b, 
                        0 0 0.5px #494b0b;
        }
        #apple
        {
            animation-delay: 0.1s;
        }
        #twitter
        {
            animation-delay: 0.3s;
        }
        #github
        {
            animation-delay: 0.5s;
        }
        #facebook
        {
            animation-delay: 0.7s;
        }
        #youtube
        {
            animation-delay: 0.9s;
        }
        #linkedin
        {
            animation-delay: 1.1s;
        }
        #whatsapp
        {
            animation-delay: 1.3s;
        }
        #instagram
        {
            animation-delay: 1.5s;
        }
        #mapsg
        {
            animation-delay: 1.7s;
        }
        @keyframes animate
        {
            from
            {
                filter: hue-rotate(0deg);
            }
            to
            {
                filter: hue-rotate(360deg);
            }
        }
#redesSociales
{
    float: left;
    width:100%;
    height: 80px; 
    margin-top:180px;
    margin-left:-50px;
    background-color: transparent;
    font-style:oblique;
    font-size:small;
    text-align: center;  
}