# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node modules: el primero es para el frontend y el segundo para el backend
/node_modules
backend/node_modules
npm-debug.log
yarn-error.log

# Variables de entorno de desarrollo y producción
backend/.env
.env
.env.local
.env.*.local

# IDEs and editors y archivos de configuración
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.cursor/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
.angular/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
