/*
Móvil: Hasta 575.98
Tableta: A partir de 576px
Portátil: A partir de 768px
Escritorio: A partir de 992px
Escritorio grande: A partir de 1200px
*/
    *{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
    margin: 0;
    padding: 0;
    }
    .fondoCuerpoSuperior{
        position:relative;
        width: 100%;
        height: 350px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:10px;
        background-image: url('../../assets/images/fondoCuerpo.png');
        filter: brightness(1.5);
        filter: contrast(0.9);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover; 
        justify-content: center;
    }
    .ventanaMensaje{
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: rgba(46, 52, 128, 0.541);
        border-radius: 100px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        margin-top: 10px;
        box-shadow: 0 10px 10px rgb(247, 247, 247);
    }
    .ventanaMensaje:nth-child(1){
        margin-top: 5px;
    }
    .ventanaMensaje:nth-child(2){
        margin-top: 30px;
    }
    .ventanaMensaje:hover{
        background-color: rgba(252, 252, 253, 0.925);
        color:black;
        box-shadow: none;
        transition: all 0.6s ease-in-out;
    }
    .areaNoticias{
        width: 100%;
        margin-top: 25px;
    }










@media screen and (min-width: 100px) and (max-width:380px)
{
    @media screen and (min-width: 100px) and (max-width: 300px) {

    }
    @media screen and (min-width: 301px) and (max-width: 330px) {

    }
    @media screen and (min-width: 331px) and (max-width: 360px) {

    }
    @media screen and (min-width: 361px) and (max-width: 380px) {

    }
}
@media screen and (min-width: 381px) and (max-width:576px)
{
    @media screen and (min-width: 381px) and (max-width: 440px) {

    }
    @media screen and (min-width: 441px) and (max-width: 480px) {

    }
    @media screen and (min-width: 481px) and (max-width: 520px) {

    }
    @media screen and (min-width: 521px) and (max-width: 576px) {

    }
}
@media screen and (min-width: 577px) and (max-width:768px)
{
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/

    @media screen and (min-width: 577px) and (max-width: 650px) {

    }
    @media screen and (min-width: 651px) and (max-width: 700px) {

    }
    @media screen and (min-width: 701px) and (max-width: 768px) {

    }
}
@media screen and (min-width: 768px) and (max-width:992px)
{

    @media screen and (min-width: 768px) and (max-width: 790px) {

    }
    @media screen and (min-width: 791px) and (max-width: 850px) {

    }
    @media screen and (min-width: 851px) and (max-width: 991px) {

    }
}
@media screen and (min-width: 992px) and (max-width:1200px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/

    @media screen and (min-width: 992px) and (max-width: 1050px) {

    }
    @media screen and (min-width: 1051px) and (max-width: 1100px) {

    }
    @media screen and (min-width: 1101px) and (max-width: 1200px) {

    }
}
@media screen and (min-width: 1201px)
{

    @media screen and (min-width: 1201px) and (max-width: 1300px) {

    }
    @media screen and (min-width: 1301px) and (max-width: 1800px) {

    }
    @media screen and (min-width: 1801px) and (max-width: 2000px) {

    }
    @media screen and (min-width: 2001px) and (max-width: 2500px) {

    }
    @media screen and (min-width: 2501px) {

    }
}
