/*
Móvil: Hasta 575.98
Tableta: A partir de 576px
Portátil: A partir de 768px
Escritorio: A partir de 992px
Escritorio grande: A partir de 1200px
*/
    *{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
    margin: 0;
    padding: 0;
    }
    .fondoCuerpoSuperior{
        position:relative;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left:0px;
        margin-right:0px;
        padding-top:10px;
        background-image: url('../../assets/images/fondoCuerpo.png');
        filter: brightness(1.5);
        filter: contrast(0.9);
        background-position:center;
        background-repeat:no-repeat;
        background-size: cover; 
        justify-content: center;
    }
    .ventanaMensaje{
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: rgba(46, 52, 128, 0.541);
        border-radius: 100px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        margin-top: 10px;
        box-shadow: 0 10px 10px rgb(247, 247, 247);
    }
    .ventanaMensaje:nth-child(1){
        margin-top: 5px;
    }
    .ventanaMensaje:nth-child(2){
        margin-top: 30px;
    }
    .ventanaMensaje:hover{
        background-color: rgba(252, 252, 253, 0.925);
        color:black;
        box-shadow: none;
        transition: all 0.6s ease-in-out;
    }
    .areaNoticias{
        width: 100%;
        margin-top: 25px;
    }

@media screen and (min-width: 0px) and (max-width:360px)
{
    .fondoCuerpoSuperior{
        width: 360px;
        height: 1000px;
    }
    @media screen and (min-width: 361px) and (max-width:380px)
    {
    .fondoCuerpoSuperior{
        width: 380px;
        height: 1000px;
    }
    }
}
@media screen and (min-width: 381px) and (max-width:576px)
{
    .fondoCuerpoSuperior{
        width: 100%;
        height: 1000px;
    }
}
@media screen and (min-width: 577px) and (max-width:768px)
{
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .fondoCuerpoSuperior{
            width: 100%;
            height: 1100px;
        }
}
@media screen and (min-width: 768px) and (max-width:992px)
{
        .fondoCuerpoSuperior{
            width: 100%;
            height: 1200px;
        }
}
@media screen and (min-width: 992px) and (max-width:1200px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .fondoCuerpoSuperior{
            width: 100%;
            height: 1200px;
        }
}
@media screen and (min-width: 1201px) and (max-width:1400px)
{
    .fondoCuerpoSuperior{
        width: 100%;
        height: 1300px;
    }
    .ventanaMensaje{
        font-size: 16px;
    }
}
@media screen and (min-width: 1400px)
{
    .fondoCuerpoSuperior{
        width: 100%;
        height: 1300px;
    }
    .ventanaMensaje{
        width:1000px;
        font-size: 16px;
    }
}
