<div class="tableroInicio">
    <img src="assets/010_imagenesfondos/EDIFICIOS.png" alt="Imagen de fondo" class="fondoInicio">

    <h1>Bienvenido a nuestra página web</h1>
    <p>Este es el contenido principal de la página de inicio.</p>


@if(noticiasInicio.length>0)
{
    <button (click)="anterior()">ANTERIOR</button>
        <img src={{enlaces}}{{noticiasInicio[valorNumerico].getNombre()}} class="imagenesSliders">
    <button (click)="siguiente()">SIGUIENTE</button>
}
@else
 {
    <div>{{falloCarga()}}</div>
 }




    <div *ngIf="noticiasInicio.length > 0; else vacio">
        <div *ngFor="let noticia of noticiasInicio; let i = index">
            <h3>{{ i + 1 }}. {{ noticia.getNombre() }}</h3>
            <p>{{ noticia.getDetalles() }}</p>
        </div>
    </div>

    <ng-template #vacio>
        <p>No hay noticias cargadas aún.</p>
    </ng-template>
</div>
