*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
#imagenFondo
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
#titulo
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 69, 69, 0.288);
    text-align: center;
    font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(208, 255, 0);
    text-shadow: black 0.1em 0.1em 0.2em;
}
#tablaContenidos{
    margin-left: -2000px;      /*COLOCAR Al 20%; TRAS CARGA PAGINA*/
    margin-top: 100px;
}
.celda{
    height: 300px;
    width: 800px;
    border: 2px;
    background-color: transparent;
    border: solid;
    border-color: black;
    text-align: center;
}
.caja{
    height: 300px;
    width: 800px;
    padding-top: 0px;
    background-color: rgb(208, 255, 0);
    color: black;
    font-weight: 1000;
    line-height: 1.5;
    max-width: 800px;
    font-size: small;
    font-family: "Lexend", sans-serif;
    padding: 1rem;
    text-align: center;
}
