    .fondo{
        width: 100%;
        height: auto;
        background-color: transparent;
    }
    .areaNoticias{
        background-color: rgb(1, 3, 39);
        margin-bottom: 10px;
        border-radius: 10px;    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .areaNoticias:nth-last-child(1){
        padding-bottom: 10px;
    }
    .areaNoticias:hover{
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.685);
        transition: 0.3s;
    }
    .casilleroNoticias{
        list-style: none;
        padding: 0px;
    }
    .titular{
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-align: center;
    }   
    .subTitular{
        font-size: 16px;
        color: rgb(221, 216, 216);
        text-decoration: none;
        text-align: center;
    }
    .noticia{
        font-size: 12px;
        color: rgb(221, 216, 216);
        text-decoration: none;
        text-align: center;
    }   
  
@media screen and (min-width: 0px) and (max-width:380px)
{
    .areaNoticias{
        margin-left: 5%;
        width: 90%;
    }
    .areaNoticias:nth-last-child(1){
    padding-bottom: 10px;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 381px) and (max-width:576px)
{
    @media screen and (min-width: 381px) and (max-width: 480px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .areaNoticias{
        margin-left: 5%;
        width: 90%;
        }
        .areaNoticias:nth-last-child(1){
        padding-bottom: 10px;
        }
        .casilleroNoticias{
        padding: 10px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 520px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .areaNoticias{
        margin-left: 5%;
        width: 90%;
        }
        .areaNoticias:nth-last-child(1){
        padding-bottom: 10px;
        }
        .casilleroNoticias{
        padding: 10px;
        }
    }
    @media screen and (min-width: 521px) and (max-width: 576px) {
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .areaNoticias{
        margin-left: 10%;
        width: 80%;
        }
        .areaNoticias:nth-last-child(1){
        padding-bottom: 10px;
        }
        .casilleroNoticias{
        padding: 10px;
        }
    }
}
@media screen and (min-width: 577px) and (max-width:768px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .areaNoticias{
    margin-left: 10%;
    width: 80%;
    }
    .areaNoticias:nth-last-child(1){
    padding-bottom: 12px;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 769px) and (max-width:992px)
{
    .areaNoticias{
    margin-left: 10%;
    width: 80%;
    margin-top:25px;
    }
    .areaNoticias:nth-last-child(1){
    padding-bottom: 12px;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 993px) and (max-width:1200px)
{
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .areaNoticias{
    margin-left: 10%;
    margin-top:25px;
    width: 35%;
    height: 150px;
    display: flex;
    float: left;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 1201px) and (max-width:1400px)
{
    .areaNoticias{
    margin-left: 10%;
    margin-top:25px;
    width: 35%;
    height: 150px;
    display: flex;
    float: left;
    }
    .casilleroNoticias{
    padding: 10px;
    }
    .titular{
        font-size: 22px;
    }   
    .subTitular{
        font-size: 18px;
    }
    .noticia{
        font-size: 14px;
    }   
}
@media screen and (min-width: 1400px)
{
    .areaNoticias{
    margin-left: 280px;
    margin-right: auto;
    margin-top:25px;
    width: 300px;
    height: 300px;
    display: flex;
    float: left;
    }
    .casilleroNoticias{
    padding: 10px;
    }
    .titular{
        font-size: 24px;
    }   
    .subTitular{
        font-size: 20px;
    }
    .noticia{
        font-size: 16px;
    }   
}
