    .tituloNoticias{
        font-size: 20px;
        font-family:cursive;
        color: white;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 4px #ced103;
    }
    .fondo{
        width: 100%;
        height: 600px;
        background-color: transparent;
        overflow-y: auto;
    }
    .cajaNoticias{
        position: relative;
        width: 100%;
        max-height: auto;
        margin-top: 20px;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: auto; /* Fuerza scroll vertical */ 
        overflow-x: hidden; /* Evita scroll horizontal */
        scroll-behavior: smooth;
        padding-right: 10px;
        scrollbar-width: thin; 
        scrollbar-color: #888 #eee;
    }
    .areaNoticias{
        background-color: rgb(1, 3, 39);
        margin-bottom: 10px;
        border-radius: 10px;    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 30px;
    }
    .areaNoticias:nth-last-child(1){
        padding-bottom: 10px;
    }
    .areaNoticias:hover{
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.685);
        transition: 0.3s;
    }
    .casilleroNoticias{
        list-style: none;
        padding: 0px;
    }
    .titular{
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-align: center;
    }   
    .subTitular{
        font-size: 16px;
        color: rgb(221, 216, 216);
        text-decoration: none;
        text-align: center;
    }
    .noticia{
        font-size: 12px;
        color: rgb(221, 216, 216);
        text-decoration: none;
        text-align: center;
    }   
  
@media screen and (min-width: 0px) and (max-width:380px)
{
    /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .fondo{
        width: 100%;
        height: 500px;
    }
    .cajaNoticias{
        width: 100%;
        max-height: auto;
    }
    /*FIN ZONA DE SRCOLLING*/
    .areaNoticias{
        margin-left: 5%;
        width: 90%;
    }
    .areaNoticias:nth-last-child(1){
    padding-bottom: 10px;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 381px) and (max-width:576px)
{
        /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .fondo{
            width: 100%;
            height: 500px;
        }
        .cajaNoticias{
            width: 100%;
            max-height: auto;
        }
        /*FIN ZONA DE SRCOLLING*/
        /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
        .areaNoticias:nth-last-child(1){
        padding-bottom: 10px;
        }
        .casilleroNoticias{
        padding: 10px;
        }
        .areaNoticias{
        margin-left: 5%;
        width: 85%;
        }
}
@media screen and (min-width: 577px) and (max-width:768px)
{
    /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .fondo{
        width: 100%;
        height: 640px;
    }
    .cajaNoticias{
        width: 100%;
        max-height: auto;
    }
    /*FIN ZONA DE SRCOLLING*/
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .areaNoticias{
    margin-left: 5%;
    width: 80%;
    }
    .areaNoticias:nth-last-child(1){
    padding-bottom: 12px;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 769px) and (max-width:992px)
{
    /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .fondo{
        width: 100%;
        height: 740px;
    }
    @media screen and (min-width: 800px) and (max-width:992px)
    {
        .fondo{
            width: 100%;
            height: 800px;
        }   
    }
    .cajaNoticias{
        width: 100%;
        max-height: auto;
    }
    /*FIN ZONA DE SRCOLLING*/
    .areaNoticias{
    margin-left: 0%;
    width: 80%;
    margin-top:25px;
    }
    .areaNoticias:nth-last-child(1){
    padding-bottom: 12px;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 993px) and (max-width:1200px)
{
    /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .fondo{
        width: 100%;
        height: 800px;
        margin-left:-40px;
    }
    .cajaNoticias{
        width: 100%;
        max-height: auto;
    }
    /*FIN ZONA DE SRCOLLING*/
    /*AREA DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .areaNoticias{
    margin-left: 10%;
    margin-top:25px;
    width: 35%;
    height: 150px;
    display: flex;
    float: left;
    }
    .casilleroNoticias{
    padding: 10px;
    }
}
@media screen and (min-width: 1201px) and (max-width:1400px)
{
    /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .fondo{
        width: 100%;
        height: 850px;
        margin-left:-40px;
    }
    .cajaNoticias{
        width: 100%;
        max-height: auto;
    }
    /*FIN ZONA DE SRCOLLING*/
    .areaNoticias{
    margin-left: 10%;
    margin-top:25px;
    width: 35%;
    height: 150px;
    display: flex;
    float: left;
    }
    .casilleroNoticias{
    padding: 10px;
    }
    .titular{
        font-size: 22px;
    }   
    .subTitular{
        font-size: 18px;
    }
    .noticia{
        font-size: 14px;
    }   
}
@media screen and (min-width: 1400px) and (max-width:1900px)
{
    /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .fondo{
        width: 100%;
        height: 850px;
        margin-left:-40px;
    }
    .cajaNoticias{
        width: 100%;
        max-height: auto;
    }
    .areaNoticias{
    margin-left: 15%;
    margin-right: auto;
    margin-top:25px;
    width: 400px;
    height: 300px;
    display: flex;
    float: left;
    }
    .casilleroNoticias{
    padding: 10px;
    }
    .titular{
        font-size: 24px;
    }   
    .subTitular{
        font-size: 20px;
    }
    .noticia{
        font-size: 16px;
    }   
}
@media screen and (min-width: 1901px)
{
    /*AREA SCROLLING DESPLAZABLE VARIABLE PARA LAS OPCIONES*/
    .fondo{
        width: 100%;
        height: 850px;
        margin-left:-40px;
    }
    .cajaNoticias{
        width: 100%;
        max-height: auto;
    }
    .areaNoticias{
    margin-left: 10%;
    margin-right: auto;
    margin-top:25px;
    width: 400px;
    height: 300px;
    display: flex;
    float: left;
    }
    .casilleroNoticias{
    padding: 10px;
    }
    .titular{
        font-size: 24px;
    }   
    .subTitular{
        font-size: 20px;
    }
    .noticia{
        font-size: 16px;
    }   
}
