    .areaNoticias{
        width: 100%;
        background-color: rgb(1, 3, 39);
    }
    .casilleroNoticias{
        list-style: none;
        padding: 10px;
    }
    .titular{
        font-size: 24px;
        color: white;
        text-decoration: none;
    }   
    .subTitular{
        font-size: 20px;
        color: rgb(221, 216, 216);
        text-decoration: none;
    }
    .noticia{
        font-size: 16px;
        color: rgb(221, 216, 216);
        text-decoration: none;
    }   