.tituloNoticias{
    font-size: 20px;
    font-family:cursive;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #ced103;
}
#zonaNosotros{
    width: 100%;
    display: flex; 
    flex-direction: column;
}
.seccionNosotros{
    background-color: rgb(1, 3, 39);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}