*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
#imagenFondo
{
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
#titulo
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 69, 69, 0.288);
    text-align: center;
    font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(208, 255, 0);
    text-shadow: black 0.1em 0.1em 0.2em;
}
#tablaContenidos{
    margin-left: -2000px;      /*COLOCAR Al 20%; TRAS CARGA PAGINA*/
    margin-top: 100px;
}
.caja{
    height: 25px;
    width: 280px;
    display: flex;
    padding-top: 5px;
    padding-left:5px;
    margin-top:15px;
    background-color: rgb(208, 255, 0);
    color: black;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.enlaceActivo
{
    text-decoration: none;
    color: black;
}
/*
Móvil: Hasta 575.98
Tableta: A partir de 576px
Portátil: A partir de 768px
Escritorio: A partir de 992px
Escritorio grande: A partir de 1200px
*/

@media screen and (min-width: 100px) and (max-width:576px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
    @media screen and (min-width: 100px) and (max-width:200px)
    {
        .caja
        {
            height: 25px;
            width: 130px;
            float:left;
            margin-right:10px;
            padding-left:7px;
            font-size:13px;
        }
        #imagenFondo
        {
            height:400px;
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
        }
    }
.caja{
    float:left;
    margin-right:10px;
}
#tablaContenidos{
    margin-left: -2000px;      /*COLOCAR Al 20%; TRAS CARGA PAGINA*/
    margin-top: 20px;
}
}
@media screen and (min-width: 576px) and (max-width:768px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
.caja{
    height: 25px;
    width: 200px;
    display: flex;
    padding-top: 5px;
    padding-left:5px;
    margin-top:15px;
    background-color: rgb(208, 255, 0);
    color: black;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#imagenFondo
{
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
}
@media screen and (min-width: 768px) and (max-width:992px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
}
@media screen and (min-width: 992px) and (max-width:1200px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
}
@media screen and (min-width: 1200px)
{
*{   /*ELIMINAR MARGENES EXTERNOS Y PADDING INTERNOS*/
margin: 0;
padding: 0;
}
}